@CHARSET "EUC-KR";

#gallary {
	padding: 15px;
}

#footer {
	width: 98%;
	height: 30%;
	position: relative;
	z-index: 20;
	overflow: hidden;
	margin:0;

}

.titleStrong{
	text-align:center;
	margin-top:10px;
}

/* 폰트안보이게(배경깔때) */
.blind {
	visibility: hidden;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 1px;
	height: 1px;
	font-size: 0;
	line-height: 0
}

/* 메인 타이틀 */
.title_area {
	float: none;
	position: relative;
	*height: 34px;
	*zoom: 1
}

.title_area:after {
	display: block;
	clear: both;
	content: ''
}

.obj_section .title_area h4 {
	float: left;
	height: 21px;
	margin: 5px 10px 0 0;
	background: url(htp://제목이배경으로 깔리는 이미지 주소) no-repeat -9999px -9999px
}

.obj_section .title_area h4.hh_photo {
	width: 54px;
	background-position: 0 -88px
}

/* 갤러리 */
.sub_photo li {
	float: left;
	position: relative;
	width: 160px;
	margin: 20px;
	display: block;
}

.sub_photo li.last {
	margin-right: 0
}

.sub_photo li a strong {
	display: block;
	overflow: hidden;
	padding-right: 8px;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 14px;
}

.sub_photo li img {
	width: 160px;
	height: 120px;
}

.sub_photo p.thmb {
	margin: ;
}

.sub_photo .tx_brief {
	margin-top: 2px;
	padding-right: 13px;
	text-align:center;
}

.sub_photo .tx_brief a {
	color: #666
}
/* //갤러리 */

/* 각게시판 페이징 */
.paginate {
	text-align: center;
}

.paginate a,.paginate strong {
	display: inline-block;
	position: relative;
	_width /**/: 17px;
	margin-right: 1px;
	padding: 2px 4px 3px;
	border: 1px solid #f5f2ed;
	color: #666;
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	line-height: normal;
	text-decoration: none
}

.paginate strong {
	border: 1px solid #928070;
	color: #f52d2d !important;
	text-align: center;
}

.paginate .pre {
	margin-right: 6px;
	padding: 5px 6px 2px 14px;
	_padding-bottom: 1px;
	background:
		url(http://static.naver.com/common/paginate/bu_pg3_l_off.gif)
		no-repeat 6px 5px !important;
	letter-spacing: -1px
}

.paginate .next {
	margin-left: 4px;
	padding: 5px 14px 2px 6px;
	_padding-bottom: 1px;
	background:
		url(http://static.naver.com/common/paginate/bu_pg3_r_off.gif)
		no-repeat 62px 5px !important;
	letter-spacing: -1px
}

.paginate a.pre {
	background: url(http://static.naver.com/common/paginate/bu_pg3_l_on.gif)
		no-repeat 6px 6px !important
}

.paginate a.next {
	background: url(http://static.naver.com/common/paginate/bu_pg3_r_on.gif)
		no-repeat 33px 6px !important
}

.paginate .pre,.paginate .next {
	display: inline-block;
	position: relative;
	top: 0;
	_top: -2px;
	_width: 75px;
	border: 1px solid #b4b4b4;
	color: #ccc;
	font-family: '돋움', Dotum;
	font-size: 11px;
	line-height: normal
}

.paginate a.pre,.paginate a.next {
	color: #565656
}

.paginate a:hover {
	border: 1px solid #e9e9e9;
	color: #FFF;
	background-color: #939393 !important
}
