@CHARSET "utf-8";

.textarea {
	width: 60%;
	height: 80%;
	-webkit-appearance: textarea;
	background-color: white;
	border: 1px solid;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	flex-direction: column;
	resize: auto;
	cursor: auto;
	padding: 30px;
	white-space: pre-wrap;
	word-wrap: break-word;
	resize: none;
}

.write {
	height:100%
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
}

ul{
	list-style: none;
}

.board1 {
	float:left;
	margin-left:50px;
	border-top:1px solid #efefef;
	text-align: left;
	padding: 6px 12px;
}


.board2 {
	float:left;
	margin-left:0px;
	border-top:1px solid #efefef;
	text-align: left;
	padding: 6px 12px;
	padding:7px'
}