<head>
<meta charset="utf-8" />
<meta name="viewport" 
content="width=device-width, initial-scale=1.0, minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<title>Trevelo</title>
<link rel="stylesheet" href="./css/header.css" />
<link href="./image/mark.ico" rel="shortcut icon" />
</head>
<header id="header">
 <div class="blogTitle">

  <h1><input type='image' src='./image/mainImage.jpg' href='./Main.jsp'><a style='color:#FF4848;'href="./Main.jsp">    Travelo</a></h1>
  <ul class="blogMenu">
     
      <li class="tab_taglog" ><a href="./redirectEncodingMap.jsp">Tag</a></li>
      <li class="tab_guestbook"><a href="./redirectEncodingGuestbook.jsp">Guestbook</a></li>
      <li class="tab_plaza"><a href="./redirectEncodingPlaza.jsp">Plaza</a></li>
     </ul>
 </div>
</header>
